<div class="container">
  <div class="row">
    <div class="col">
      <h1>Listado de Personas</h1>
      <button class="btn btn-primary" [disabled]="deshabilitar" (click)="agregarPersona()">Agregar Persona</button>
      <p>{{mensaje}}</p>
      <app-persona></app-persona>

      <label>Titulo Persona</label>
      <input type="text" class="form-control" (input)="modificarTitulo($event)">
      {{titulo}}

      <label>Estado Civil de la Persona</label>
      <input type="text" class="form-control" [(ngModel)]="estadoCivil">
      {{estadoCivil}}
      <br />
      <br />
      <button class="btn btn-secondary" [disabled]="deshabilitar" (click)="agregarPersona2()">Agregar Persona -
        ngif</button>
      <p *ngIf="mostrar; else sinPersona">{{mensaje2}} con el titulo de: {{titulo}}</p>
      <ng-template #sinPersona>
        <p>No se agrego ninguna persona</p>
      </ng-template>

    </div>
  </div>
</div>
